.quiz-create-room-container {
    min-height: 100vh;
    max-width: 1200px;
    background-color: rgba(55, 119, 196, 0.45);
    margin: 0 auto;
    padding: 20px;
    flex-direction: column; /* 세로 방향 정렬 */
    align-items: center; /* 수평 방향 가운데 정렬 */
}

.content-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Flexbox 아이템이 줄바꿈되도록 설정 */
    gap: 20px; /* 아이템 간의 간격을 설정 */
}

.quiz-search-container{
    max-width: 600px;
    min-height: 60px;
}

.quiz-search-input{
    padding: 0;
    width: 100%;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 30px;
    border: 1;
    background: none;
    outline: none;
}

.quiz-create-btn-icon{
    background-color: white;
    min-width: 250px;
    min-height: 200px;
    border-radius: 10px;
    margin: 10px;
}

.quiz-created-icon {
    background-color: white;
    width: 250px; /* 고정된 너비 */
    height: 200px; /* 고정된 높이 */
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 이미지가 div를 벗어나지 않도록 합니다 */
}

.quiz-created-icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 이미지 비율을 유지하면서 div에 맞춥니다 */
    border-radius: 10px;
}
